
@{
    ViewData["Title"] = "Должности";
}

<div id="Positions">
    @*<Positions></Positions>*@
    <list></list>
</div>

@section Scripts{
    <script type="module" src="~/vue/positions/index.js"></script>

    
}