/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
label.required:after {
    content: ' *';
    color: red
       
}
.container .v-select {
    font-size: inherit;
    border-radius: 0.4rem;
}
.container div.v-select-bar > button {
    color: inherit;
}
.container .v-select:not(.-multiple):not(.-searching).-focused .v-select-selected, .v-select:not(.-multiple):not(.-searching).-opened .v-select-selected {
    opacity: 1;
}

tr .custom-checkbox {
    text-align: center;
}

@media (min-width: 1200px) {
    body .container {
        max-width: 1210px;
    }
}
.container table th[role="columnheader"] {
    vertical-align: middle;
}
.container .v-select{
     --height: 0;
}
.container .dropdown-item:hover {
    color: #212529;
    background-color: #dae0e2;
}

header ul.navbar-nav li a {
    color: #343a40 !important;
}
header ul.navbar-nav li.nav-item.dropdown ul > li > a {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}
header > nav ul.navbar-nav > li > a:hover {
    color: #78c2ad !important;
}
.container .alert {
    top: 60px;
    position: absolute;
    right: 20%;
    max-width: 20%;
}
.table-matches {
    background-color: #9fffa4;
}
.card-body h4.card-title.notification-new {
    color: #f57965;
}
.progress .progress-bar {
    color: black;
}