@{
    ViewData["Title"] = "СУРС";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p><a  asp-area="Identity" asp-page="/Account/Login">Войти  в систему</a></p>
</div>
